h1 {
    text-align: center;
    color: red;
}
img {
    width: 100%;
}
.title {
    color: blueviolet;
    font-size: 15px;
}
p{
    font-size: 15px;
    text-align: justify;
    padding: 0px 10px;
}
.card {
    margin: 0px 10px;
}
.flex-container {
    display: flex;
    margin: 0px 20px;
}